h1 {
    text-align: center;
}

.header {
    background-color: #333;
    color: white;
    padding: 20px;
}

.container {
    display: flex;
}

/* left-side */
.left {
    width: 40%;
    padding: 20px;
}

.area{
    width: 100%;
    padding: 10px;
    box-sizing: border-box; /* include padding in both width,height */
}

#stack-plot {
    height: 50%;
}

#l-box3 {
    height: 40%;
}

/* right-side */
.right {
    width: 60%;
    padding: 20px;
}

.right .area {
    display: flex;
    flex-wrap: wrap;
}
