h1 {
    text-align: center;
}

.header {
    background-color: #333;
    color: white;
    padding: 20px;
}

.container {
    display: flex;
}

/* left-side */
.left {
    width: 40%;
    padding: 20px;
}

.area {
    height: 10%;
    width: 100%;
    padding: 10px;
    box-sizing: border-box; /* To include padding in the total width/height */
}

#stack-plot {
    height: 50%;
}

#box3 {
    height: 40%;
}

/* right-side */
.right {
    width: 60%;
    padding: 20px;
}

.right .area {
    display: flex;
    flex-wrap: wrap;
}
